html{
    background-color: bisque;
}
img{
    width: 200px;
}

.img150{
    width: 150px;
}
.bigsize{
    font-size: 2rem;
}

@font-face {
	font-family: 'Teddy Bear';
	src: url('source/fonts/teddy_bear.eot'); /* IE 9 Compatibility Mode */
	src: url('source/fonts/teddy_bear.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('source/fonts/teddy_bear.woff2') format('woff2'), /* Super Modern Browsers */
		url('source/fonts/teddy_bear.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('source/fonts/teddy_bear.ttf') format('truetype'), /* Safari, Android, iOS */
		url('source/fonts/teddy_bear.svg#teddy_bear') format('svg'); /* Chrome < 4, Legacy iOS */

 @font-face {
	font-family: 'Arkhip';
	src: url('source/fonts/arkhip.eot'); /* IE 9 Compatibility Mode */
	src: url('source/fonts/arkhip.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('source/fonts/arkhip.woff2') format('woff2'), /* Super Modern Browsers */
		url('source/fonts/arkhip.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('source/fonts/arkhip.ttf') format('truetype'), /* Safari, Android, iOS */
		url('source/fonts/arkhip.svg#arkhip') format('svg'); /* Chrome < 4, Legacy iOS */
}

    }
hi{
    font-family: 'Arkhip';
}
